.gitkeep

target/
dbt_packages/
logs/

# Virtual environment
venv/
env/
.env/
.env.*  # local environment files
*.env


# Python cache and temp files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.swp

# Airflow temp and log files
airflow.db
logs/
*.log
*.pid

# DBT target ve temp
target/
dbt_modules/

# OS files
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/
